
.bodylogin {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/fundoloja33.jpg);
    background-size: cover;
}
.contem {
    display: auto;
    float: center;
    width: 610px;
    height: 450px;
    background: rgba(255, 255, 255, 0.003);
    backdrop-filter: blur(10px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .7);
    border-radius: 30px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    text-align: center;
    padding: 40px;
    border: solid;
}
.logus {
    width: 270px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.logbot {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}
.logbot:hover{
    opacity: 0.8;
    ;
}
.cds {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}
.logh1, .cds, .laglab{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.final {
    clear: both;
    font-size: 25px;
    color:rgb(120, 5, 5);
}
.laglab {
    font-size: 30px;
}